.marginTop2rem {
  margin-top: 2rem;
}

.homeContainer {
  padding-left: 3rem;
  padding-top: 1rem;
  background-color: #abbac2;
  height: 100vh;
}

.titulo {
  color: #263942;
  font-size: 3rem;
  font-family: "DM Serif Text", serif;
}

.texto {
}

.textoDev {
  color: green;
}
