.searchSvg{
    padding-top: 6px;
    padding-left: 15px;
    position: absolute;
}

.searchBar{
    width: 55%;
    height: 48px;
    border: none;
    border-radius: 48px;
    background-color: #DADADA;
    text-align: center;
    font-size: 18px;
}

.searchBar:focus{
    outline: none;
}

.searchBar:hover{
    background-color: #dddddd;
}

.searchBar::placeholder{
    color: #DADADA;
}

.searchBar:hover::placeholder{
    color: #b8b8b8;
}

@media only screen and (max-width: 600px) {

    .searchSvg{
        padding-left: 8px;
        padding-top: 8px;
    }
    
    .searchBar{
       width: 90%;
       height: 34px; 
       font-size: 16px;
    }

  }
